<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
    <div class="main">
        <div class="log_pla">
            <h1>LOGIN</h1>
            <% if (error.length > 0) { %>
                <ul class="ul_style">
                    <% error.forEach((err) => { %>
                        <li><%= err %></li>
                    <% }); %>
                </ul>
            <% } %>
            <div class="user">
                <form action="/login" method="post">
                    <div class="user_name place">
                        <p>ユーザーID</p>
                        <input class="input_size" type="text" name="userId">
                    </div>
                    <div class="user_password place">
                        <p>パスワード</p>
                        <input class="input_size" type="password" name="password">
                    </div>
                    <div class="user_login">
                        <input type="submit" value="ログイン">
                    </div>
                    <div class="new_acc">
                        <a href="/new_account">新規作成</a>
                    </div>
                </form>
            </div>
        
        </div>
    </div>
    
    
</body>
</html>